@font-face {
   font-family: 'AllertaStencil-Regular';
   font-display: swap;
   src: url('file:///C:/Users/PUBLIMACSV/Desktop/AGASAL%20NEW/BITCHANGECRYPTO.github.io-master/BITCHANGECRYPTO.github.io-master/fonts/AllertaStencil-Regular/font.ttf');
}
